<%= simple_form_for(@project_kind) do |f| %>
  <div class="form-inputs">
    <%= f.input :kind %>
    <%= f.input :description, input_html: {class: 'markdown-editor'} %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Voltar', project_kinds_path, class: "btn btn-warning" %>
  </div>
<% end %>
