<%= simple_form_for(@meeting) do |f| %>
  <div class="form-row">
    <div class="col-sm-12">
      <%= f.input :date, id: 'datepicker'%>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-4">
      <%= f.input :start_session %>
    </div>
    <div class="col-sm-4">
      <%= f.input :end_session %>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-12">
    <%= f.input :note, input_html: {class: 'markdown-editor'} %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Voltar', meetings_path, class:"btn btn-warning" %>
  </div>
<% end %>
