<%= simple_form_for(@meeting) do |f| %>
  <div class="form-inputs">
    <%= f.input :date, id: 'datepicker'%>
    <%= f.input :start_session %>
    <%= f.input :end_session %>
    <%= f.input :note %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Voltar', meetings_path, class:"btn btn-warning" %>
  </div>
<% end %>
