<tr>
  <td><%= meeting.formatted_date %></td>
  <td><%= meeting.start_session.to_time.strftime('%H:%M') %></td>
  <td><%= meeting.end_session.to_time.strftime('%H:%M') %></td>
  <td><%= meeting.note %></td>
  <td><%= link_to meeting.projects.size, meeting_projects_path(meeting) %></td>

  <td><%= link_to 'PDF', meeting_path(meeting.id, format: "pdf"), class: "btn btn-warning fa fa-search",
                  title: "Visualizar Sess達o" %></td>
  <td><%= link_to '', meeting_presents_path(meeting),
                  class: "btn btn-success fa fa-check", title: "Inserir Vereadores Presentes na Sess達o" %>
  <td><%= link_to '', edit_meeting_path(meeting.id),
                  class:"btn btn-info fa fa-edit", title: "Editar Sess達o"%></td>
  <td><%= link_to '', meeting, method: :delete, data: { confirm: 'Are you sure?' },
                  class:"btn btn-danger fa fa-remove" , title: "Remover Sess達o"%></td>
</tr>