<div class="box">
  <div class="container">
    <div class="box-header">
      <h1>Atualização de presença</h1>
      <h3> Sessão do Dia:  <%= @meeting.date.strftime('%d/%m/%Y')%></h3>
    </div>
    <div class="box-body  table-responsive">
      <%= simple_form_for @meeting, url: meeting_presents_path do |s| %>
        <table class="table table-bordered table-striped">
          <thead class="">
          <tr>
            <th>Vereador</th>
            <th>Presença</th>
            <th>Chegada</th>
            <th>Saída</th>
            <th>Anotações</th>
          </tr>
          </thead>
          <tbody>
          <%= s.simple_fields_for :session_councilmen do |sc| %>
            <tr>
              <td><%= sc.object.councilman.name %></td>
              <td><%= sc.input_field :present, as: :boolean %></td>
              <td><%=sc.input_field :arrival   %></td>
              <td><%=sc.input_field :leaving %></td>
              <td><%= sc.input_field :note %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <br>
        <%= s.button :submit %>
        <%= link_to 'Voltar', meetings_path, class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>

