<%= simple_form_for(@councilman) do |f| %>
  <div class="form-row">
    <div class="col-sm-6">
      <%= f.input :name, autofocus: true %>
    </div>
      <div class="col-sm-6">
      <%= f.input :nickname %>
    </div>
    <div class="col-sm-5">
      <%= f.input :office %>
    </div>
    <div class="col-sm-3">
      <%= f.input :political_party %>
    </div>
    <div class="col-sm-4">
      <%= f.input :political_position, collection: Councilman.political_positions.keys.to_a %>
    </div>
    <div class="col-sm-6">
      <%= f.association :political_mandate, label_method: :description, value_method: :id,
                        prompt: "Escolha um mandato politico" %>
    </div>
    <div class="col-sm-6">
      <%= f.file_field :avatar %>
    </div>
  </div>

  <br>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Voltar', councilmen_path, class:"btn btn-warning" %>
  </div>
<% end %>
