<%= simple_form_for(@councilman) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :nickname %>
    <%= f.input :political_party %>
    <%= f.input :political_position, collection: Councilman.political_positions.keys.to_a %>
    <%= f.collection_select(:political_mandate, PoliticalMandate.all, :id, :description, prompt: 'Escolha um mandato politico' )%>
    <%= f.file_field :avatar %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Voltar', councilmen_path, class:"btn btn-warning" %>
  </div>
<% end %>
