<div class="box box-info">
  <div class="box-header">
    <h3>Vereadores</h3>
    <div class="row">
      <div class="col-sm-4">
        <%= link_to 'Novo Vereador', new_councilman_path, class: "btn btn-info", title: 'Adicionar novo vereador' %>
      </div>
      <div class="col-sm-4">
        <%= form_tag( councilmen_path, method: :get) do %>
          <div class="input-group">
            <%= text_field_tag 'search', nil, class:"form-control", placeholder:"Digite o nome do vereador" %>
            <div class="input-group-btn">
              <%= button_tag(type: "submit", class: "btn btn-warning btn-flat",
                             title: "Pesquisar pelo nome dos vereadores") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- PDF de todos os vereadores
      <div class="col-sm-4">
        <div class="input-group-btn">
          <%= link_to '  Vereadores', councilmen_path(@councilman, format: "pdf"), class: 'btn btn-success fa fa-file-pdf',
                      title: 'Gerar Relatórios de todos os Vereadores Cadastrados no Sistemas' %>
        </div>
      </div>-->
    </div>
  </div>
  <div class="box-body table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead >
        <tr>
          <th>Foto</th>
          <th>Nome</th>
          <th>Cargo do Vereador</th>
          <th>Mandato Politico</th>
          <th>Projetos Propostos</th>
          <th colspan="4">Ações</th>
        </tr>
      </thead>
      <tbody>
        <%= render @councilmen %>
      </tbody>
    </table>
    <div class="pagination pagination-sm no-margin pull-right">
      <%= will_paginate @councilmen, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
</div>

