<div class="box">
  <div class="box-header">
    <h3>Projetos proposto pelo(a) vereador(a): <%= @councilman.name %></h3>
    <%= link_to 'Novo Projeto', new_project_path, class: "btn btn-info" %>
  </div>
  <div class="box-body table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Nome do Projeto</th>
        <th>Tipo de Projeto</th>
        <th>Disposto na Sessão</th>
        <th>Resultado</th>
        <th colspan="3">Ações</th>
      </tr>
      </thead>
      <tbody>
      <% @councilman.projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= link_to project.project_kind.kind, project.project_kind %></td>
          <td><%= link_to project.meeting.date.to_time.strftime('%d/%m/%Y'), project.meeting%></td>

          <% if project.result.nil? %>
            <td>Sem resultado</td>
          <% else %>
            <td><%= I18n.t(project.result, scope: [:activerecord, :attributes, :project, :results]) %></td>
          <% end%>
          <!-- Ações dos botões -->
          <td><%= link_to '',export_project_path(project), target: "_blank",
                          class: "fa fa-file-pdf btn btn-success" ,
                          title: "Gerar Relatório em PDF do Projeto"%></td>
          <td><%= link_to '', project, class: "btn btn-info fa fa-search", title: 'Visualizar Projeto' %></td>
          <td><%= link_to '', project_votes_path(project),
                  class: "btn btn-success fa fa-vote-yea", title: 'Informar Votos dos Vereadores no Projeto' %><td>
          <%= link_to '', edit_project_path(project), class: "btn btn-warning fa fa-edit", title:"Editar Projeto"  %></td> 
          <td><%= link_to '', project, method: :delete, data: { confirm: 'Are you sure?' },
                          class: "btn btn-danger fa fa-remove", title:"Excluir Projeto"  %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>

