<div class="box box-primary">
  <div class="box-body box-profile">
    <div class="row">
      <div class="col-sm-4">
        <% if @councilman.avatar? %>
          <%= image_tag(@councilman.avatar.big.url,
                        class:"profile-user-img img-vereador img-responsive img-circle") %>
        <%else%>
          <%= gravatar_for(@councilman, 200, "profile-user-img img-responsive img-circle")%>
        <%end%>
      </div>
      <div class="col-sm-4">
        <h3 class="profile-username text-center">Vereador(a): <%= @councilman.name %></h3>
        <p class="text-muted text-center">Apelido: <%= @councilman.nickname %></p>
        <p class="text-muted text-center">Partido Político: <%= @councilman.political_party %></p>
        <p class="text-muted text-center">Mandato Político: <%= @councilman.political_mandate.description %></p>
      </div>
    </div>
    <br>
    <ul class="list-group list-group-unbordered">
      <li class="list-group-item">
        <b>Sessões que participou</b> <a class="pull-right"><%=@councilman.meetings.size%></a>
      </li>
      <li class="list-group-item">
        <b>Projetos que apresentou</b> <a class="pull-right"><%=@councilman.projects.size%></a>
      </li>
    </ul>
  </div>
</div>
<%= link_to 'Editar', edit_councilman_path(@councilman), class: "btn btn-info" %> |
<%= link_to 'Voltar', councilmen_path, class: "btn btn-warning" %>
