<div class="box">
  <div class="box-header">
    <h3>Projetos</h3>
    <div class="row">
      <div class="col-sm-4">
        <%= link_to 'Novo Projeto', new_project_path, class: "btn btn-info" %>
      </div>
      <div class="col-sm-4">
        <%= form_tag( projects_path, method: :get) do %>
          <div class="input-group">
            <%= text_field_tag 'search', nil, class:"form-control",
                               placeholder:"Digite o nome do projeto" %>

            <div class="input-group-btn">
              <%= button_tag(type: "submit", class: "btn btn-warning btn-flat") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="box-body table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Tipo</th>
        <th>Proposto pelo Vereador</th>
        <th>Sessão</th>
        <th>Resultado</th>
        <th colspan="4">Ações</th>
      </tr>
      </thead>
      <tbody>
      <%= render @projects %>
      </tbody>
    </table>
    <div class="pagination pagination-sm no-margin pull-right">
      <%= will_paginate @projects, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
</div>