<div class="box box-info">
  <div class="container">
    <div class="box-header">
      <h2>Atualização de Votos</h2>
      <h3>Projeto: <%= @project.name%></h3>
    </div>
    <div class="box-body  table-responsive">
      <%= simple_form_for @project, url: project_votes_path do |p| %>
        <table class="table table-bordered table-striped">
          <thead class="">
            <tr>
              <th>Vereador</th>
              <th>Voto</th>
              <th>Presença</th>
            </tr>
          </thead>
          <tbody>
            <%= p.simple_fields_for :votes do |v| %>
              <tr>
                <td><%= v.object.councilman.name %></td>
                <td><%= v.input_field :vote, collection: Vote.votes.keys.to_a, prompt: "Informe o Voto"%></td>

                <% unless v.object.councilman.present? %>
                  <td><span class="badge bg-red text-center">AUSENTE</span></td>
                <% else %>
                  <td><span class="badge bg-green text-center" >PRESENTE</span></td>
                <%end%>

              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= p.button :submit %>
        <%= link_to 'Voltar', projects_path, class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>

