<% provide(:head_title, "Entrar") %>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-12 col-md-offset-4">
          <div class="account-wall">
            <h1 class="text-center login-title">Entre com seu usuário e senha para acessar o sistema</h1>
            
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-signin">
                    <%= f.input :email, required: true, autofocus: true, class:'form-control', placeholder:'Email' %>
                    <%= f.input :password, class:'form-control', placeholder:'Password', required: true %>
                    <%= f.button :submit, "Sign in",  class:'btn btn-lg btn-primary btn-block' %>

                    <label class="checkbox pull-left">
                        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                    </label>
                <% end %>
                <%= render "devise/shared/links", class:'pull-right clearfix' %>
                </div>
            </div>
           
        </div>
    </div>
</div>
