<%= simple_form_for(@vote) do |f| %>
  <div class="form-inputs">
    <%= f.association :project %>
    <%= f.association :councilman %>
    <%= f.input :vote %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
