<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%= full_title(yield(:head_title)) %>
  </title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <%= stylesheet_link_tag    'dashboard', media: 'all',
                             'data-turbolinks-track': 'reload' %>

  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" ]
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <%= render 'layouts/shim'%>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>

<body class="hold-transition skin-green sidebar-mini ">
<div class="wrapper">
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/sidebar'%>
  <div class="content-wrapper">
    <section class="content">
      <ol class="breadcrumb">
        <li><%= render_breadcrumbs builder: ::BootstrapBreadcrumbsBuilder %></li>
      </ol>
      <%= render 'shared/flash_messages'%>
      <h4><%=yield(:head_title)%></h4>
      <%= yield%>
    </section>
  </div>
</div>
</body>

</html>